.mainLiveResult{
    display: inline-block;
    /* border: 2px solid black; */
    margin-top: 10rem;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;

}
.showResult{
    border: 1px solid rgba(0, 0, 0, 0.164);
    width: 50%;
    margin: auto;
    background-color: #3a50f9;
    border-radius: 1rem;
}

.resultIcon{
    height: 6rem;
    width: 6rem;
    border: 5px solid white;
    border-radius: 50%;
    /* background-color: aliceblue; */
    margin: -3rem auto;
    background-image: url('.././images/moneylogo.jpg');
    background-size: cover;
   
}
.resultHeading{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
   
    margin-top: 1rem;
    
}

.heading_result{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.heading_result h3{
color: rgb(249, 249, 252);
}


 /* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 
    .showResult{       
        width: 90%;      
    };

    
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .showResult{       
        width: 90%;      
    };
    .resultHeading{
        padding-left: 2rem;    
        
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .showResult{       
        width: 90%;      
    };
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .showResult{       
        width: 75%;      
    };
 }

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */
