.mainLiveResult{
    margin-top: 10rem;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;

}
.showResult{
    border: 1px solid rgba(0, 0, 0, 0.164);
    width: 70%;
    margin: auto;
    background-color: #3a50f9;
    border-radius: 1rem;
}

.resultIcon{
    height: 6rem;
    width: 6rem;
    border: 5px solid white;
    border-radius: 50%;
    /* background-color: aliceblue; */
    margin: -3rem auto;
    background-image: url('.././images/moneylogo.jpg');
    background-size: cover;
   
}
.resultHeading{
    display: flex;
    width: 100%;
    color: rgb(249, 249, 252);
    font-size: 40px;
}

.heading_result{
    /* display: flex; */
    width: 50%;
    align-items: center;
    justify-content: center;
}




 /* Extra small devices (portrait phones, less than 576px) */
 @media(min-width: 300px)  and (max-width: 568px) { 
    
        .resultIcon{
            height: 10rem;
            width: 10rem;
            margin-top: -5rem;
            margin-left: auto;

        }
        .showResult{       
            width:95%;  
            
        }
    
        .resultHeading{
           flex-flow: column;
            }
            .resutresponsive{
                margin-top: 4rem;
               
            }
            .heading_result{
                width: 100%;
                font-size: 35px;
                font-weight: bolder;
            }
    
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 569px) and (max-width: 1199.98px) { 
    .resutresponsive{
        margin-top: 3rem;
       
    }
    .showResult{       
        width: 90%;      
    }
    .heading_result{
        width: 100%;
        font-size: 30px;
        font-weight: bolder;
    }

 }



/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .resutresponsive{
        margin-top: 3rem;
       
    }
    .showResult{       
        width: 90%;      
    }
    .heading_result{
        width: 100%;
        font-size: 50px;
        font-weight: bolder;
    }

 }
